@charset "UTF-8";

*{
    margin: auto;
    padding: auto;
}


div#nav > ul li {
    list-style: none;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 0px;
    padding-right: 10px;
}

div#nav a {
    text-decoration: none;
    color: black;
}

div#nav a:hover {
    padding: 5px;
    color: darkslateblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);

    transition: 0.2s;
}

nav {
    background-color: rgba(162, 240, 214, 0.541);
    border-radius: 10px;
}

div#container {
    text-align: center;    
}

div#habilidades > ol li{
    list-style: circle;
    padding: 5px;
    font-size: 1.1em;
}

div#contato {
    background-color: rgba(162, 240, 214, 0.541);
    border-radius: 10px;
    text-align: center;
}


div#apps a {
    text-decoration: none;
    color: black;
}

div#apps > ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
} 

div#apps a:hover {
    padding: 5px;
    color: darkslateblue;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);

    transition: 0.2s;
}

